/* Cherie Culture Styles */


/* BEGIN Fonts */
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);
@import url(https://fonts.googleapis.com/css?family=Lora:400);
/* END Fonts */


body {
	font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 400;
	letter-spacing: 0.05em;
}
h1,h2,h3,h4,h5,h6 {
	font-family: Lora, serif;
	font-weight: 400;
}
a, a:visited, a:active {
	color: #555;
	text-decoration: none;
}
a:hover {
	color: #da998c;
	text-decoration: none;
}
a.nostyle, a.nostyle:visited, a.nostyle:active, a.nostyle:hover {
	color: inherit;
	text-decoration: inherit;
}
a.link-overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: block;
	background: url(../images/blank.gif);
}
div.clear {
  clear: both;
  width: auto;
  height: 0;
  overflow: hidden;
}


.social-link-01 {
	display: inline-block;
	width: 22px;
	height: 22px;
	background: transparent url(../images/social-icons-0.png) no-repeat;
}
.social-link-01-facebook { background-position: 0px 0; }
.social-link-01-twitter { background-position: -37px 0; }
.social-link-01-instagram { background-position: -74px 0; }
.social-link-01-pinterest { background-position: -111px 0; }
.social-link-01-email { background-position: -148px 0; }


/* #secondaryFeaturedImage */
.alignsecondary_attachment-teaser {
	display: none !important;
}


.smhead-title {
	display: inline-block;
	padding: 0.3em 0;
	margin-bottom: 0.3em;
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
	border-top-color: rgba(0,0,0,0.2);
	border-bottom-color: rgba(0,0,0,0.2);

	background-repeat: no-repeat;
	background-position: center center;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
.smhead-title-topstories { background-image: url(../images/smhead-todaystopstories.png); width: 225px; }
.smhead-title-lateststories { background-image: url(../images/smhead-lateststories.png); width: 173px; }
.smhead-title-exploremorestories { background-image: url(../images/smhead-exploremorestories.png); width: 205px; }

.top-stories {
}
.top-stories-header {
	position: relative;
}
.top-stories-header .social-icons {
	position: absolute;
	right: 0;
	top: 5px;
}
@media (max-width: 400px) {
	.top-stories-header .social-icons {
		position: static;
		margin-bottom: 1rem;
	}
}
.top-stories-posts {
}
.top-stories-post {
	position: relative;
	margin-bottom: 1rem;
}
.top-stories-post-title {
	width: 60%;
	font-size: 32px;
	margin: 0;
	padding: 0;
	min-height: 2em;
}
@media (max-width: 700px) { .top-stories-post-title { font-size: 26px; } }
@media (max-width: 500px) { .top-stories-post-title { font-size: 22px; } }
.top-stories-post-timestamp {
	position: absolute;
	right: 0;
	top: 0.6em;
	font-size: 0.8rem;
	text-transform: uppercase;
	font-weight: 300;
}
.top-stories-post-link {
	position: absolute;
	right: 0;
	bottom: 1.2em;
	text-transform: uppercase;
	font-size: 0.8rem;
	letter-spacing: 0.1em;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-bottom: 0.08em;
}

.home-stories {
	background: #fde6d9;
}
.home-stories-header, .home-stories-footer {
	padding: 1.875rem 0;
	text-align: center;
}
.home-stories-posts {
}
.home-stories-post {
	position: relative;
	margin-bottom: 1em;
	text-align: center;
}
.home-stories-post-inner {
	background: #fff;
}
.home-stories-post-image {
	width: 100%;
	background-size: cover;
	background-position: center center;
	margin-bottom: 0.9375rem;
}
.home-stories-post-timestamp {
	margin-bottom: 0.45rem;
	font-size: 0.8rem;
	text-transform: uppercase;
	font-weight: 300;
}
.home-stories-post-title {
	font-size: 26px;
	margin: 0;
	padding: 0 1em;
	height: 5em;
	overflow: hidden;
}
@media (max-width: 39.9375em) { /* small-only */
	.home-stories-post-title {
		height: auto;
		padding-bottom: 1.2rem;
	}
}
/*
@media (max-width: 900px) { .home-stories-post-title { font-size: 3vw; } }
@media (max-width: 600px) { .home-stories-post-title { font-size: 3.5vw; } }
@media (max-width: 300px) { .home-stories-post-title { font-size: 4vw; } }
*/


.site-header,.site-content,.site-footer {
	padding: 0 2.5vw;
}
.page-content-wrap { /* second layer for header,body,footer */
	max-width: 1218px;
	margin: 0 auto;
}
.site-hero, .single-post .entry-header-image, .page .entry-header-image {
	height: 36vw;
	max-height: 450px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	margin-bottom: 10px;
}


.site-header {
	padding-top: 16px;
	padding-bottom: 16px;
	border-bottom: 1px solid #d9d9d9;
	margin-bottom: 10px;
}
.site-header .columns, .site-header .column {
	padding: 0;
	margin: 0;
}
.site-branding {
}
.site-title {
	margin: 0;
	padding: 0;
}
.site-description {
	display: none;
}
.site-title a {
	display: inline-block;
	background: url(../images/logo-header-1.png) no-repeat;
	width: 248px;
	height: 29px;
	overflow: hidden;
	white-space: nowrap;
	text-indent: 100%;
}
.site-title a:focus, .site-title a::-moz-focus-inner {
	outline: none;
	border: none;
}

.site-header .main-navigation {
	clear: none;
	font-size: 13px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
.main-navigation .menu {
	float: right;
	display: block;
	width: auto;
	padding-top: 19px;
}
.main-navigation ul {
	display: block;
}
.main-navigation li {
	margin-left: 2em;
}
.main-navigation li:first-child {
	margin-left: 0;
}
.main-navigation a {
	color: #000;
}
.main-navigation a:hover {
	color: #da998c;
}
@media (max-width: 680px) {
	.main-navigation li {
		margin-left: 1.5em;
	}
}
/* --- Menued Nav */
.main-navigation-toggle {
	display: block;
	width: 44px;
	height: 40px;
	background: url(../images/nav-menu-icon01.png) no-repeat center center;
	float: right;
}
.main-navigation-toggle-target.toggled-on {
	display: block !important; /* !important to beat foundation */
	overflow: visible;
	position: relative;
	z-index: 1;
}
.main-navigation-toggle-target.toggled-on .menu {
	-moz-box-shadow: 0px 1px 2px 1px #ccc;
	-webkit-box-shadow: 0px 1px 2px 1px #ccc;
	box-shadow: 0px 1px 2px 1px #ccc;
	position: absolute;
	right: -1.875rem; /* .columns padding */
	top: 0;
	margin: 0;
	padding: 0;
	width: 80vw;
	max-width: 200px;
	background: #fff;
	border: 1px solid #bfbfbf;
	border-bottom: none;

	/* fixed format... */
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	position: fixed;
	right: 0;
	top: 0;
	height: 100%;
	background: #f0f0f0;
}
.main-navigation-toggle-target.toggled-on li.menu-item {
	display: block;
	float: none;
	width: auto;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #bfbfbf;
}
.main-navigation-toggle-target.toggled-on li.menu-item a {
	display: block;
	padding: 0.7em;
	background: #f0f0f0;
	font-size: 14px;
}
.main-navigation-toggle-target.toggled-on li.menu-item a:hover {
	background: #e8e8e8;
}

.home .site-hero {
	background-image: url(../images/hero-0-70.jpg);
}

.home .top-stories {
	margin: 32px 0;
}


.site-footer {
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	padding: 32px 0.9375rem;
}
.footer-legal {
	display: inline-block;

}
.footer-nav {
	display: inline-block;
}
.footer-nav ul, .footer-nav li {
	display: inline-block;
	margin: 0;
	padding: 0;
}
.footer-nav li {
	margin-left: 1em;
}
.footer-nav li:first-child {
	margin-left: 0;
}
.footer-social {
	margin-top: 1rem;
}


/* BEGIN Post Page */
.single-post .entry-header-image {
}
/* END Post Page */


/* BEGIN Page Page */
.page .entry-header-image {
}
/* END PAge Page */




/* BEGIN chic */
.chic-loader {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.5) url(../images/loader03.gif) no-repeat center center;
}
/* END chic */



